/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.profile-picture {
    border-radius: 10px;
}

.react-numeric-input input {
    line-height: 33px !important;
}

button.accept {
    color: green;
    margin: 0 10px;
}

button.reject {
    color: red;
    margin: 0 10px;
}